html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 4rem;
}

body {
  color: var(--dark-grey);
  font-family: var(--font-mono);
  font-size: 1.125rem;
  line-height: 1.5;
}

main {
  color: var(--dark-grey);
}

footer {
  background-color: var(--green);
}
