.pdf {
    margin: 0 auto;
    width: 95%;
    height: 100%;
}

main:has(.pdf) {
    margin: 1rem 0;
    /* 100% - (header + footer + margins) */
    height: calc(100% - (4rem + 8rem + 2rem));
}

@media (max-width: 600px) {
    .pdf {
        width: 80%;
        height: 85%;
    }
}
